/* workaround for MS Edge 18.17763 */
.navbar-item.is-hoverable:hover .navbar-dropdown {
	display: block;
}
/* Breadcrumbs */
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px; }

.breadcrumb > li {
    display: inline-block; }

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/ "; }

.breadcrumb > li > .active {
    color: lightgray !important; }

.breadcrumb > li > .router-link-active {
    color: #777777; }

.breadcrumb {
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 50px;
    /* right: 10px; */
    border-radius: 2px; }

.breadcrumb a {
    display: inline-block; }

.navbar-item > div > a {
    margin-right: 4px;
}

.bio > p {
    padding-top: 15px; }

.pic img {
    max-width: 400px;
    height: auto;
    width: 95%;
    vertical-align: middle; }
      
/*@media screen and (min-width:1280px)*/
.tilt {
    border: 10px solid #FFFFCC;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(-15deg);
    /* Firefox */
    -webkit-transform: rotate(-15deg);
    /* Chrome & Safari */
    -o-transform: rotate(-15deg);
    /* Opera */
    -ms-transform: rotate(-15deg);
    /* IE 9+ */
    transform: rotate(-15deg);
    /* CSS3 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; }
          
.untilt {
    border: 10px solid #FFFFCC;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Chrome & Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -ms-transform: rotate(0deg);
    /* IE 9+ */
    transform: rotate(0deg);
    /* CSS3 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; }
  
div.title {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Happy Monkey',cursive; }

div.portfolio-item {
    border: 4px solid #3273dc;
    height: 200px;
    width: auto; }

.portfolio-item span {
    font-size: 180px;
    transform: rotate(50deg);
    padding: 15px; }

.portfolio-item i {
    font-size: 150px;
    padding: 15px; }
  
h4.portfolio-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Happy Monkey',cursive;
    white-space: nowrap; }

div.category {
    border: 1px solid #00d1b2;
    border-radius: 4px;
    margin: auto;
    text-align: center;
    height: 100px;
    min-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #00d1b2;
    padding: 20px;
    white-space: nowrap; }
  
div.category:hover {
    background-color: #00d1b2;
    color: white;
    cursor: pointer; }
  
a.blog-title {
    font-size: 30px; }
  
ul li small {
    font-size: 14px;
    color: gray; }

section {
    min-height: 700px; }

div.error {
    color: red;
    border: 1px solid red;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: mistyrose;
    font-size: larger; }

[v-cloak] {
    display: none; }

/* Card Shuffle */
.speed-buttons {
    text-align: center;
    padding-top: 30px;
}

.speed-buttons .button {
    height: 2.50em;
}

.main-buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0 !important;
}

.count-section {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fas {
    padding-left: 5px;
}

.deck {
    margin-left: 30px;
    padding-top: 30px;
}

.card {
    width: 75px;
    height: 100px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: white;
    border: 0.5px solid lightgray;
}

.card-suit {
    width: 100%;
    display: block;
}

.card-suit-top {
    float: left;
    width: 100%;
    height: 40%;
    padding-left: 4px;
}

.card-suit-bottom {
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 4px;
    transform: rotate(180deg);
}

.card-number {
    float: left;
    width: 100%;
    height: 40%;
    text-align: center;
}

.red {
    color: #FF0000;
}

.black {
    color: #000;
}

.shuffleSlow-move {
    transition: transform 2s;
}

.shuffleMedium-move {
    transition: transform 1s;
}

.shuffleFast-move {
    transition: transform 0.5s;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
.card-table {
    background-image: url("../img/felt16.jpg");
}

@media (max-width: 1210px) {
    .deck {
        position: initial;
        top: 0;
    }
}